@using Microsoft.AspNet.Identity
@using SCMPT.Models
@model List<SCMPT.Models.Pacienteo>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body>
@if (User.IsInRole("Admin"))
{ 
<div class="">
    <div class="row">
        <div class="col s12 m4">
            <div class="card-panel ">
                <img src="@Url.Action("convertirimagen", "Usuario", new {id = User.Identity.GetUserId()})" class="circle" alt="USER">
                <span>
                        <h4 id="nombre"> @ViewBag.nombre</h4>
                    </span>
            </div>
        </div>
        <div class="col s12 m8">
            <div class="col s12 m4">
                <div class="card-panel">
                    <div class="center">
                        <i class="material-icons icon-content">ic_local_hospital_black</i>
                        <p>
                            @Html.ActionLink("Agregar nuevo doctor", "Nuevodoctor", "Usuario")
                        </p>
                        <p>
                            @Html.ActionLink("Lista de doctores", "Lista_doctores", "Usuario")
                        </p>
                        <p>
                            @Html.ActionLink("Agregar nuevo Paciente", "Nuevopaciente", "Usuario")
                        </p>
                        <p>
                            @Html.ActionLink("Lista de Pacientes", "Lista_paciente", "Usuario")
                        </p>
                        <p>
                            @Html.ActionLink("Resultados de examenes", "ListaCitas", "Usuario")
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/active.js"></script>
<script src="js/init.js"></script>
<script src="js/materialize.js"></script>
<script src="js/jquery.js"></script>
<script src="js/materialize.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".button-collapse").sideNav();
        });
    </script>
}
else
{
  <span>no tienes acceso</span>
}
</body>
</html> 